    .image-box {
		padding-top: 10px;
       position: relative;
    }
    .tag {
	   filter:alpha(opacity=50); opacity:0.5;
       float: bottom;
       position: absolute;
       left: 0px;
       top: 0px;
       z-index: 1000;
       background-color: gray;
       padding: 5px;
       color: white;
       font-weight: bold;
    }
	.separator-row {
		height: 20px;
	}