    .image-box {
		padding-top: 10px;
       position: relative;
    }
    .tag {
	   filter:alpha(opacity=50); opacity:0.7;
       float: bottom;
       position: absolute;
	   font-size: 30px;
       left: 20px;
       top: 250px;
	   width: 520px;
       z-index: 1000;
       background-color: gray;
       padding: 5px;
       color: white;
       font-weight: bold;
    }
	.separator-row {
		height: 20px;
	}
	
	.image-size{
		max-height:400px;
		max-width:500px;
	}
	
	.member-tag {
		filter:alpha(opacity=50); opacity:0.7;
       float: bottom;
       position: absolute;
	   font-size: 15px;
       right: 20px;
       top: 20px;
	   width: 170px;
       z-index: 1000;
       background-color: green;
       padding: 5px;
       color: white;
       font-weight: bold;
	}
	
	.group-tag {
		filter:alpha(opacity=50); opacity:0.7;
       float: bottom;
       position: absolute;
	   font-size: 15px;
       right: 20px;
       top: 20px;
	   width: 180px;
       z-index: 1000;
       background-color: yellow;
       padding: 5px;
       color: white;
       font-weight: bold;
	}