    .image-box {
		padding-top: 10px;
       position: relative;
    }
    .tag {
	   filter:alpha(opacity=50); opacity:0.7;
       float: bottom;
       position: absolute;
	   font-size: 30px;
       left: 20px;
       top: 270px;
	   width: 520px;
       z-index: 1000;
       background-color: gray;
       padding: 5px;
       color: white;
       font-weight: bold;
    }
	.separator-row {
		height: 20px;
	}